<footer id="layout-footer">
  

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">
                        <p>Home</p>
                    </a>
                </li>
                <li>
                    <a href="/users/profile">
                    <p> Profile</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div>
        <p>
            &#169; Coding Ninjas. All Rights Reserved
        </p>
    </div>
</footer>